* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 1px solid red;
  height: 575px;
  width: 575px;
}

.grid div {
  border: 1px solid black;
}

/* .grid div:hover {
  background-color: blue;
} */

/* .cell {
} */
